@model BookFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Book title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" rows="4" placeholder="Image Url...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="YearPublished"></label>
                <input asp-for="YearPublished" class="form-control" placeholder="Year published...">
                <span asp-validation-for="YearPublished" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Book Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AuthorId"></label>
                <select asp-for="AuthorId" class="form-control">
                    <option value="@Model.AuthorId" selected>@Model.AuthorName</option>
                    @foreach (var author in Model.Authors)
                    {
                        if (author.Id != Model.AuthorId)
                        {
                            <option value="@author.Id">@author.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="AuthorId" class="small text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GenreId"></label>
                <select asp-for="GenreId" class="form-control">
                    <option value="@Model.GenreId" selected>@Model.GenreName</option>
                    @foreach (var genre in Model.Genres)
                    {
                        if (genre.Id != Model.GenreId)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="AuthorId" class="small text-danger"></span>
            </div>
            <br />

            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</div>