@model List<BookViewModel>

@{
    ViewBag.Title = "Favourite Books";
}

@if (!Model.Any())
{
    <h4>No found books yet...</h4>
}
else
{
    <div class="container">
        <div class="row card-header">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@Model[i].ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@Model[i].Title</h5>
                            <p class="text-secondary">@Model[i].AuthorName</p>
                            <h4 class="card-text">@Model[i].Price lv.</h4>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-primary">Details</a>
                            <a asp-controller="Book" asp-action="RemoveFromFavourites" asp-route-id="@Model[i].Id" class="btn btn-danger float-end">Remove</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}